{% load static %}

    

<html>
    <head>
        <title>Django MyBlog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       
        
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %} 
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h4 ><a href="{% url 'post_list' %}">بلاگ جنگوی من</a></h4>
        </div>
        <div>
            {% block content %}
            
            {% endblock %}
        </div>
        <footer >
            <div class="footer">
              <div>
                  <h5>درباره من</h>
                      <h5>مشتاق برای ماجراجویی در دنیای دیجیتال</h>
              </div>

              <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                  <div class="border-top pt-5">
                    <p>
                 
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://farzadkhani.com" target="_blank" >Farzad Khani</a>
                  
                  </p>
                  </div>
                </div>
      
              </div>
            </div>
          </footer>

    </body>
</html>