{% load static %}

<html>
    <head>
        <title>Django MyBlog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://google.com">Django MyBlog</a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <hr>
                    <hr>
                </div>
            {% endfor %}
        </div>

        
    </body>
</html>