{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="right">
            
            <img style="float:right ; padding:10px" src="{{ post.title_image.url }}" width="40%" >
            <h2 class="color"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaksbr|truncatewords:30 }}<a href="{% url 'post_detail' pk=post.pk %}">ادامه مطلب</a></p>
        </div>
    {% endfor %}
{% endblock %}