
.right {
    text-align: right ;
    width: 80%;
    padding: 3%;
    margin-left: 10%;
    margin-top: 1%;
  }
  .color {
    color: #C25100; 
  }

  .page-header {
    text-align: center ;
    width: 80%;
    background-color: #C25100;
    color: white;
    margin-top: 0;
    margin-left: 10%;
    padding: 3%;
  }